<header id="blur">
  <a class="main-logo"><i class="fas fa-laptop-house"></i>Okos-Otthon</a>
  <div class="navigation">
    <div class="navigation-items">
      <div class="btn">
        <a routerLink="/main-page/home" routerLinkActive="btn-active"
          >Főoldal</a
        >
      </div>
      <div class="btn">
        <a routerLink="/main-page/services" routerLinkActive="btn-active"
          >Szolgáltatások</a
        >
      </div>
      <div class="btn">
        <a routerLink="/main-page/about" routerLinkActive="btn-active"
          >Rólunk</a
        >
      </div>
      <div class="btn">
        <a class="login" (click)="toggle()">Bejelentkezés</a>
      </div>
    </div>
  </div>
</header>
