<section id="blur">
        <ul class="navigation">
                <li (click)="vUrl('/assets/main-page-body-video/video1.mp4',1)"><img
                                src="/assets/slider-imgs/video1.png" alt="video1"></li>
                <li (click)="vUrl('/assets/main-page-body-video/video2.mp4',2)"><img
                                src="/assets/slider-imgs/video2.png" alt="video2"></li>
                <li (click)="vUrl('/assets/main-page-body-video/video3.mp4',3)"><img
                                src="/assets/slider-imgs/video3.png" alt="video3"></li>
                <li (click)="vUrl('/assets/main-page-body-video/video4.mp4',4)"><img
                                src="/assets/slider-imgs/video4.png" alt="video4"></li>
        </ul>
</section>