$mainpage-font: "Bree Serif", serif;

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: $mainpage-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}
